<div class="container mt-5" *ngIf="isLoaded">

  <div class="card shadow-lg border-0">

    <!-- Header -->
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      <h5 class="mb-0">
  Account Details
  <span *ngIf="!account.active"
        class="badge bg-danger ms-2">
    CLOSED
  </span>
</h5>


      <span class="badge bg-secondary fs-6">
        {{ account.accountNumber }}
      </span>
    </div>

    <!-- Body -->
    <div class="card-body">

      <div class="row mb-4">
        <div class="col-md-6">
          <small class="text-muted">Account Holder</small>
          <h5 class="mt-1">{{ account.name }}</h5>
        </div>

        <div class="col-md-6 text-md-end">
          <small class="text-muted">Current Balance</small>
          <h4 class="mt-1 fw-bold text-success">
            {{ account.balance | currency:'INR' }}
          </h4>
        </div>
      </div>

      <hr>

      <!-- Action Buttons -->
      <div class="d-flex justify-content-between mt-3">

        <button class="btn btn-outline-secondary"
                (click)="goBack()">
          ← Back
        </button>

        <div>
          <button class="btn btn-sm btn-warm-history me-2"
        [routerLink]="['/history', account.accountNumber]">
  View History
</button>

        </div>

      </div>

    </div>

  </div>

</div>
